@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: rgb(78, 78, 78);
}
/* Navbar Start*/
nav{
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255);
    color: rgb(4, 4, 4);
    overflow: hidden;;
    position: fixed;
    top: 0;

}
.row{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content:space-between;
    margin: 0px 100px;
    padding-top: 12px;
    
}
.brand-img{
    width: 70px;
}
.brand-img:hover{
    width: 80px;
    transition-duration: .6s;
}
.logo a{
    text-decoration: none;
    color: black;
}
.brand{
    font-family: 'Domine', serif;
    text-shadow: 2px 3px 4px grey;
    font-size: 35px;
    letter-spacing: 8px;
    position: relative;
    top: -38px;
    left: -10px;
    
}
.do{
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 3px 4px grey;
    text-transform: uppercase;
    position: relative;
    top: -39px;
    left: 70px;
    font-size: 18px;
}
.brand:hover{
    letter-spacing: 25px;
    transition-duration: .6s;
}
.brand:hover, 
.do:hover{
    color:goldenrod;
}
.navbar{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-top: 25px;
}
.nav-link{
    text-decoration: none;
    color: rgb(114, 113, 113);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin: 0px 20px;
}
.nav-link:hover{
    text-shadow: 2px 4px 4px rgb(8, 8, 8);
    letter-spacing: 4px;
    transition-duration: .6s;
    color: #000;
}
.join_now{
    padding-top: 20px;
}
.log-in{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #000;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    margin: auto;
    margin-left: 10px;
}
.log{
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    margin: auto;
    margin-left: 10px;
}
.log:hover{
    background-color: goldenrod;
    padding: 10px 20px;
    transition-duration: .6s;
}
.log-in:hover{
    background-color: goldenrod;
    padding: 10px 20px;
    transition-duration: .6s;
    color: #fff;
    border: none;
}
/* Navbar End */

/* Home Start */
#home{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;

}
.row1{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 300px;
    justify-content:space-between;
    margin: 0px 100px;
}
.sologan{
    margin-top: 120px;
    line-height: 85px;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    color: rgb(78, 78, 78);
    text-align: left;
}
.social{
    margin-top: 30px;
    display: flex;
}
.btn{
    padding: 15px;
    background-color: rgb(87, 87, 87);
    text-decoration: none;
    color: white;
    border-radius: 10px;
}
.btn:hover{
    padding: 15px 20px;
    transition-duration: .6s;
    box-shadow: 2px 3px 4px grey;
    background-color: goldenrod;
}
.fb1{
    margin-left: 10px;
    margin-top: -13px;
}
.fb{
    text-decoration: none;
    color: rgb(87, 87, 87);
}
.fb i:hover{
    transform: scale(1.1);
    transition-duration: .6s;
    color: goldenrod;
}
.pattern{
    margin-top: 130px;
    width: 600px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;

}
.card{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.card img:hover{
    transform: scale(1.1);
    transition-duration: 0.6s;
}
/* Home End */

/* About Start */
.header{
    margin-top: 50px;
    text-align: center;
}
.underline{
    width: 80px;
    margin: auto;
    border: 3px solid grey;
    border-radius: 3px;
}
.row2{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 90px;
    justify-content: space-between;
    margin: 50px 100px;
}
.col p{
    text-align: justify;
    margin-top: 40px;
    margin-bottom: 30px;
    line-height: 40px;
}
.body{
    width: 100%;
    overflow: hidden;
}
.body img:hover{
    transform: scale(1.2);
    transition-duration: 0.6s;
}
.btn1{
    background-color: gray;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 13px;
}
.btn1:hover{
    background-color: goldenrod;
    transition-duration: 0.6s;
    padding: 10px 20px;
    text-decoration: underline;
}

/* About End */

/* Service Start */

/* Service End */