@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: rgb(78, 78, 78);
}
/* Navbar Start*/
nav{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    color: rgb(4, 4, 4);
    overflow: hidden;;
    position: fixed;
    top: 0;
    z-index: 1;
    animation: dropdown 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes dropdown{
    0%{
        transform: translateY(-100px);
        visibility: visible;
    }
    100%{
        transform:translateY(0);
        visibility: visible;
    }
}
.row{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content:space-between;
    margin: 0px 100px;
    padding-top: 12px;
    
}
.brand-img{
    width: 50px;
    position: relative;
    top: 10px;
}
.brand-img:hover{
    width: 60px;
    transition-duration: .6s;
}
.logo a{
    text-decoration: none;
    color: black;
}
.brand{
    font-family: 'Domine', serif;
    text-shadow: 2px 3px 4px grey;
    font-size: 30px;
    letter-spacing: 8px;
    position: relative;
    top: -15px;
    left: 10px;
    
}
.do{
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 3px 4px grey;
    text-transform: uppercase;
    position: relative;
    top: -20px;
    left: 70px;
    font-size: 18px;
}
.brand:hover{
    letter-spacing: 25px;
    transition-duration: .6s;
}
.brand:hover, 
.do:hover{
    color:goldenrod;
}
.navbar{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-top: 25px;
}
.nav-link{
    text-decoration: none;
    color: rgb(114, 113, 113);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin: 0px 20px;
}
.nav-link:hover{
    text-shadow: 2px 4px 4px rgb(8, 8, 8);
    letter-spacing: 4px;
    transition-duration: .6s;
    color: #000;
}
.join_now{
    padding-top: 20px;
}
.log-in{
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #000;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    margin: auto;
    margin-left: 10px;
}
.log{
    padding: 5px 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    margin: auto;
    margin-left: 10px;
}
.log:hover{
    background-color: goldenrod;
    padding: 10px 20px;
    transition-duration: .6s;
}
.log-in:hover{
    background-color: goldenrod;
    padding: 10px 20px;
    transition-duration: .6s;
    color: #fff;
    border: none;
}
/* Navbar End */

/* Home Start */
#home{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0px;

}
.row1{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 300px;
    justify-content:space-between;
    margin: 0px 110px;
}
.sologan{
    margin-top: 100px;
    line-height: 85px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(78, 78, 78);
    text-align: left;
}
.social{
    margin-top: 30px;
    display: flex;
}
.sologan, .social{
    animation: leftin 1s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes leftin{
    0%{
        transform: translateX(-100px);
        visibility: visible;
    }
    100%{
        transform:translateX(0);
        visibility: visible;
    }
}

.btn{
    padding: 10px;
    background-color: rgb(87, 87, 87);
    text-decoration: none;
    color: white;
    border-radius: 10px;
}
.btn:hover{
    padding: 10px 15px;
    transition-duration: .6s;
    box-shadow: 2px 3px 4px grey;
    background-color: goldenrod;
}
.fa-facebook{
    font-size: 40px;
}
.fb1{
    margin-left: 10px;
    margin-top: -9px;
}
.fb{
    text-decoration: none;
    color: rgb(87, 87, 87);
}
.fb i:hover{
    transform: scale(1.1);
    transition-duration: .6s;
    color: goldenrod;
}
.pattern{
    margin-top: 100px;
    width: 600px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    animation: zoomin 1s linear 1;
    animation-delay: 3s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes zoomin{
    0%{
        transform: scale(1.5);
        visibility: visible;
    }
    100%{
        transform:scale(1);
        visibility: visible;
    }
}
.card{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.card img:hover{
    transform: scale(1.1);
    transition-duration: 0.6s;
}
/* Home End */

/* About Start */
#about{
    background-color: rgba(202, 202, 202, 0.5);
    padding: 30px 0px;
}
.header{
    margin-top: 10px;
    text-align: center;
}
.underline{
    width: 80px;
    margin: auto;
    border: 3px solid gray;
    border-radius: 3px;
    background-color: gray;
}
.row2{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 100px;
    justify-content: space-between;
    margin: 50px 150px;

}
.col p{
    color: #000;
    text-align: justify;
    margin-bottom: 30px;
    line-height: 40px;
    font-size: 20px;
}
.body{
    width: 100%;
    overflow: hidden;
}
.body img:hover{
    transform: scale(1.2);
    transition-duration: 0.6s;
}
.btn1{
    background-color: gray;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 13px;
    box-shadow: 2px 3px 4px black;
}
.btn1:hover{
    background-color: goldenrod;
    transition-duration: 0.6s;
    padding: 10px 20px;
    text-decoration: underline;
}

/* About End */

/* Service Start */
#service{
    padding: 20px 0px;
}
.row3{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    justify-content: space-between;
    padding: 30px 300px;
}
.service-card{
    background-color: gray;
    padding: 30px;
    text-align: center;
    box-shadow: 2px 3px 4px gray;
    border-radius: 5px;
}
.service-card:hover{
    transform: scale(1.1);
    transition-duration: .6s;
}
.service-card a{
    text-decoration: none;
}
.service-card i{
    font-size: 50px;
    padding: 10px 0px;
    color: rgb(224, 224, 224);

}
.service-card h6{
    font-size: 15px;
    color: rgb(224, 224, 224);
}
.service-card p{
    font-size: 12px;
    color: rgb(224, 224, 224);
    text-align: justify;
    margin-top: 20px;
}
.recent_work{
    text-align: center;
    padding: 20px 0px;
}
.row4{
    display: grid;
    padding-top: 30px;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    margin: 0px 100px;
}
/* Service End */

/* Client's Review */
.container{
    background-color: rgb(42, 42, 42);
    padding: 100px;
    border-radius: 100% 50% 100% 50%;
    margin: 50px 0px;
}
.container h3{
    color: rgb(177, 177, 177);
}

.row7{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    padding: 30px 100px;
    text-align: center;
}
.review-card small, .fa-quote-left, .fa-quote-right, .para p{
    color: rgb(177, 177, 177);
    text-align: center;
}
.review-card p{
    font-size: 15px;
}
.review-card img{
    border-radius: 50%;
    margin-bottom: 10px;
}
.fa-medal{
    color: white;
}
.container p{
    color: rgb(210, 207, 207);
    text-align: center;
    margin-top: 10px;
}
/* Client's Review */

/* Project Start */
.row6{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    margin: 50px 100px;
}
.pcard p{
    margin-top: 10px;
}

.seemore{
    display: block;
    text-align: center;
    margin-top: 10px;
}
.seemore:hover{
    transform: scale(1.1);
    transition-duration: .5s;
}
#project{
    margin-bottom: 50px;
}
.pro1{
    position: absolute;
    top: 150px;
    left: 100px;
}
.pro1 h1, .pro1 p{
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px 4px #000;
}
.pro1 h1{
    font-size: 60px;
}
.pro1 p{
    font-size: 30px;
    margin-top: 30px;
}
.pro1 a{
    color: rgb(0, 0, 0);
    display: block;
    margin-top: 30px;
    background-color: white;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    box-shadow: 2px 3px 4px black;
    text-align: center;
    border-radius: 10px;
}
.pro1 a:hover{
    transform: scale(1.1);
    transition-duration: .6s;
}
.r1{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 100px;
    padding: 50px 200px;
}
.c1 p{
    font-weight: 500;
    font-family: 'Acme', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}
.c1 img:hover{
    transform: scale(1.1);
    transition-duration: .6s;
}
.c1{
    overflow: hidden;
    
}
/* Project End */



/* contact start */
#contact h2{
    text-align: center;
}
.row5{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 100px;
    margin: 30px 100px;
}
.form input{
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    border-style: none none solid none;
}
.form input[type=text]{
    font-weight: 800;
}
.form input[type=email]{
    font-weight: 800;
}
.form input[type=text]:focus, input[type=email]:focus{
    padding-left: 10px;
    border-color: rgba(0, 0, 0, 0);
}
.form1{
    margin-bottom: 50px;
    font-size: 19px;
    width: 100%;
    height: 100%;
}
.form1 p{
    padding-bottom: 30px;
    font-weight: 800;
    color: rgb(164, 164, 164);
}

.btn2{
    padding: 3px 10px;
    border: none;
    background-color: grey;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 3px 4px rgba(112, 112, 112, 0.7);
    margin-bottom: 20px;
}
.btn2:hover{
    padding: 8px 15px;
    transition-duration: .6s;
}
.underline1{
    width: 100%;
}
.social-icons{
    padding-top: 10px;
}
.social-icons i{
    font-size: 30px;
    margin-right: 5px;
}

/* contact end */

/* footer Start  */
#footer{
    text-align: center;
    background-color: rgba(10, 10, 10, 0.5);
    padding: 10px;
}
#footer p{
    color: white;
}
#footer a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #fff;
    padding: 0px 10px;
    border-radius: 10px;
}
#footer a:hover{
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-decoration: underline;
    transition-duration: .6s;
}
/* footer End  */
