*{
    padding: 0;
    margin: 0;
    font-family: jetbrain;
}
@font-face {
    font-family: jetbrain;
    src: url(../font/JetBrainsMono-VariableFont_wght.ttf);
}

.logo{
    font-family: jetbrain;
    color: #A6D276;
    text-shadow: 2px 3px 4px black;
}
.logo h1{
    display: inline-block;
    font-size: 50px;
    text-shadow: 2px 3px 4px black;
}
.logo p{
    display: inline-block;
    position: relative;
    top: 18px;
    right: 75px;
    font-size: 11px;
    
}
#home .row{
    padding-top: 200px;
    font-family: jetbrain;
    text-transform: uppercase;
    text-align: center;
    color: rgb(7, 7, 7);
    text-shadow: 2px 3px 4px rgb(67, 66, 66);
}

.welcome{
    color: #A6D276;
}
.home{
    margin: 50px;
}
.home img{
    margin: 10px;
    box-shadow: 2px 3px 4px black;
}
.img{
    border-radius: 20px;
}
.carousel-item{
    height:100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 240px;
}

.carousel-caption .home{
    animation: moveright 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;

}
@keyframes moveright{
    0%{
        transform: translateX(-100px);
        visibility: visible;
    }
    100%{
        transform:translateX(0);
        visibility: visible;
    }
}


.carousel-caption a{
    text-transform: uppercase;
    animation: moveleft 1s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes moveleft{
    0%{
        transform: translateX(100px);
        visibility: visible;
    }
    100%{
        transform:translateX(0);
        visibility: visible;
    }
}

.w-100{
    height: 100vh;
}
@media only screen and (max-width:1360px){
    .home, .slider-btn{
        position: relative;
        top: 150px;
    }
}

@media only screen and (max-width:1024px){
    .home, .slider-btn{
        position: relative;
        top: 150px;
    }
}

@media only screen and (max-width:912px){
    .home img{
        width: 100px;
    }
    .home, .slider-btn{
        position: relative;
        top: -250px;
    }
}

@media only screen and (max-width:820px){
    .home, .slider-btn{
        position: relative;
        top: -150px;
    }
}

@media only screen and (max-width:767px){
    .home img{
        width: 70px;
    }
    .home h1{
        font-size: 23px;
    }
}

@media only screen and (max-width:540px){
    .home, .slider-btn{
        position: relative;
        top: 50px;
    }
}

@media only screen and (max-width:414px){
    .home img{
        width: 50px;
    }
    .home, .slider-btn{
        position: relative;
        top: 50px;
    }
}

@media only screen and (max-width:375px){
    .home img{
        width: 50px;
    }
    .home, .slider-btn{
        position: relative;
        top: 90px;
    }
}

@media only screen and (max-width:280px){
    .home h1{
        font-size: 15px;
    }
    .home img{
        width: 40px;
    }
    .slider-btn a{
        font-size: 13px;
    }
    .home, .slider-btn{
        position: relative;
        top: 90px;
    }
}

.carousel-item::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    background: #000;
    opacity: 0.7;
}

.about{
    padding-top: 120px;
}
.underline{
    width: 100px;
    margin: auto;
    margin-top: 18px;
    border: 2px solid #05ffb4;
    border-radius: 20px;
    box-shadow: 2px 3px 4px black;   
}
.about .para1{
    line-height: 35px;
    text-align: justify;
}
.n1{
    margin-top: 130px;
}
.n1 h1{
    text-align: center;
    color: #A6D276;
    text-shadow: 2px 3px 4px black;
}
.title{
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
    text-transform: uppercase;
}
.book{
    text-align: center;
    margin: 30px;
    /* box-shadow: 2px 3px 4px gray;
    padding: 10px 10px 20px 10px;
    border-radius: 20px;
    background-color: #05ffb4; */
}
.book img{
    border-radius: 10px;
    box-shadow: 2px 3px 4px gray;
}
.book p{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
.level{
    text-shadow: 2px 3px 4px #A6D276;
    font-weight: 700;
}
.line{
    line-height: 100%;
}