@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Stick No Bills', sans-serif;
}
.clock1{
    text-align: center;
    /* background-color: rgb(0, 0, 0); */
    background: linear-gradient(to bottom, #0066ff 0%, #cc0099 100%);
    color: white;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    padding: 40px 10px;
    border-radius: 30px;
    /* box-shadow: 3px 4px 4px rgb(249, 7, 249); */
    border: 20px solid rgb(93, 93, 93);
}
.clock{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    margin: 10px 50px;
}
#time{
    font-size: 200px;
}
#amPM, #second, #day, #date, #month, #year{
    font-size: 30px;
}
h2{
    margin-top: 20px;
    font-size: 30px;
    text-shadow: 2px 3px 4px #0066ff;
}

