*{
    margin: 0;
    padding: 0;
}
.intro{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8), url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/faa48d2d-12c2-43d1-bf23-b5e99857825b/ddy2flv-27b6791a-a33a-42dc-b0b6-331d0e29e162.png/v1/fill/w_622,h_350,q_70,strp/eternity_tree_by_ellysiumn_ddy2flv-350t.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ZhYTQ4ZDJkLTEyYzItNDNkMS1iZjIzLWI1ZTk5ODU3ODI1YlwvZGR5MmZsdi0yN2I2NzkxYS1hMzNhLTQyZGMtYjBiNi0zMzFkMGUyOWUxNjIucG5nIiwiaGVpZ2h0IjoiPD01NzYiLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS53YXRlcm1hcmsiXSwid21rIjp7InBhdGgiOiJcL3dtXC9mYWE0OGQyZC0xMmMyLTQzZDEtYmYyMy1iNWU5OTg1NzgyNWJcL2VsbHlzaXVtbi00LnBuZyIsIm9wYWNpdHkiOjk1LCJwcm9wb3J0aW9ucyI6MC40NSwiZ3Jhdml0eSI6ImNlbnRlciJ9fQ.YvipG9uJ3q-HhVqt9OYUhoSDI6RKdGpBpCtGCX8gX0w));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.intro h1{
    color: rgb(8, 8, 8);
    margin: auto;
}
.container{
    width: 85%;
    margin: auto;
}
.container h1{
    text-align: center;
    margin: 20px;
    
}