*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@font-face {
    font-family: lobster;
    src: url(../font/Lobster-Regular.ttf);
}
.logo{
    margin-left: 50px;
    margin-top: 15px;
}
.brand-name{
    position: relative;
    top: -45px;
    left: 85px;
    font-size: 20px;
    font-family: lobster;
}
.navbar{
    display: inline-block;
}
nav{
    background-color: pink;
    height: 70px;

}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    margin-top: 25px;
    margin-right: 70px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
}
nav ul li a:hover{
    letter-spacing: 5px;
    transition-duration: 0.6s;
    color: rgb(11, 206, 232);
    text-shadow: 2px 3px 4px grey;
}
.banner_text{
    position: absolute;
    top: 400px;
    left: 60px;
}
.banner_text h1{
    font-family: lobster;
    margin-bottom: 15px;
}
.banner_text p{
    width: 750px;
    font-size: 20px;
}
.shop{
    width: 100px;
    background-color: white;
    height: 40px;
    border: 1px solid rgb(10, 167, 220);
    margin-top: 20px;
    border-radius: 10px;
}
.shop a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.product{
    text-align: center;
    margin-top: 50px;

}
.product hr{
    width: 100px;
    margin: auto;
    border: 2px solid blue;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.product-card{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}
.card img{
    border-radius: 10px;
    box-shadow: 2px 3px 4px grey;
    margin-bottom: 20px;
}
.card p{
    margin-bottom: 8px;
    font-size: 20px;
}
.cart{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid purple;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
}
small{
    color: red;
    text-decoration: line-through;
}
.about{
    background-image: url(../images/rose.jpg);
    width: 100%;
    height: 300px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.a1{
    margin: auto;
    margin-top: 100px;

    color: white;
    text-align: center;
}
.a1 hr{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border:3px solid rgb(4, 149, 252);
    border-radius: 20px;
    width: 100px;
}
.a1 p{
    text-transform: uppercase;
}
.package{
    margin: auto;
    margin-top: 80px;
    width: 90%;
    margin-bottom: 50px;
    
}
.package h1{
    margin-left: 50px;
    margin-bottom: 20px;
}
.fa-solid{
    font-size: 30px;
}
.content{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    margin: 0px 50px 0px 50px;

}
.left-content img{
    border-radius: 15px;
    box-shadow: 2px 3px 4px grey;
}
.right-content h3{
    font-size: 30px;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 10px;
}
i{
    display: inline-block;
}
.right-content p{
    text-align: justify;

    font-size: 18px;
}
.right-content{
    width: 80%;
    margin: auto;
}
@media screen and (max-width:560px) {
    .banner_text{
        display: none;
    }
    nav ul{
        display: none;
    }
    
}
/* @media screen and (max-width:856px) {
    .banner_text{
        top: 150px;
    }
    .banner_text h1{
        font-size: 25px;
    }
    .banner_text p{
        width: 430px;
        text-align: justify;
    }
    nav ul li{
        margin-right: 30px;
    }
    .left-content img{
        width: 100%;
    }
    .right-content{
        width: 100%;
    }
    
} */