@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.logo:hover{
    width: 60px;
    transition-duration: .6s;
}
.brand-name{
    font-family: 'Fredoka One', cursive;
    text-shadow: 2px 3px 4px rgb(243, 139, 243);
    margin-left: 10px;
}
.brand-name:hover{
    letter-spacing: 5px;
    transition-duration: .6s;

}
.link{
    text-decoration: none;
    color: grey;
    font-weight: 600;
    margin-right: 20px;
    text-transform: uppercase;
}
.link:hover{
    letter-spacing: 5px;
    transition-duration: .6s;
}
.home{
    padding-top: 110px;
    padding-bottom: 30px;
    color: white;
    background-color: #582F7E;
    width: 100%;
    height: auto;
}
.bu{
    box-shadow: 2px 3px 4px pink;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}
.bu:hover{
    margin-top: 5px;
    transition-duration: .6s;
}
.row{
    margin: auto;
}
.img{
    margin: 20px 0px;
}
.img img{
    border-radius: 10px;
}
.underline{
    width: 150px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3px;
}
