*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.nav-link{
    margin-left: 15px;
}
.logo{
    font-family: jetbrain;
    color: #A6D276;
    text-shadow: 2px 3px 4px black;
}
.logo h1{
    display: inline-block;
    font-size: 50px;
    text-shadow: 2px 3px 4px black;
}
.logo p{
    display: inline-block;
    position: relative;
    top: 18px;
    right: 75px;
    font-size: 11px;
    
}

#home .row{
    padding-top: 200px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(7, 7, 7);
    text-shadow: 2px 3px 4px rgb(67, 66, 66);
}

.welcome{
    color: #A6D276;
}

.home h1{
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}
.consultName2{
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}
.home img{
    margin: 10px;
    box-shadow: 2px 3px 4px greenyellow;
}
.img{
    border-radius: 20px;
}
.carousel-item{
    height:100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 240px;
}

.carousel-caption .home{
    animation: moveright 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;

}
@keyframes moveright{
    0%{
        transform: translateX(-100px);
        visibility: visible;
    }
    100%{
        transform:translateX(0);
        visibility: visible;
    }
}


.carousel-caption a{
    text-transform: uppercase;
    animation: moveleft 1s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes moveleft{
    0%{
        transform: translateX(100px);
        visibility: visible;
    }
    100%{
        transform:translateX(0);
        visibility: visible;
    }
}

.w-100{
    height: 100vh;
}

/* this screen size is for 1920px with 100% or 125% */
@media only screen and (max-width:1920px){
    .home, .slider-btn{
        position: relative;
        top: 0px;
    }
    .slider-btn{
        top: 0;
    }
}


@media only screen and (max-width:1433px){
    .home, .slider-btn{
        position: relative;
        top: 100px;
    }
    .slider-btn{
        top: 10px;
    }
    .slider-btn .btn{
        font-size: 20px;
        border-radius: 10px;
    }
}

@media only screen and (max-width:1366px){
    .home, .slider-btn{
        position: relative;
        top: 150px;
    }
    .slider-btn{
        top: 0;
    }
    .home h1{
        font-size: 30px;
    }
    .slider-btn .btn{
        font-size: 20px;
    }
}

@media only screen and (max-width:1360px){
    .home, .slider-btn{
        position: relative;
        top: 80px;
    }
    .home h1{
        font-size: 25px;
    }
    .img{
        width: 100px;
    }
    .slider-btn .btn{
        font-size: 15px;
    }
    .slider-btn{
        top: 0;
    }
    .podcast{
        text-align: center;
    }
    .right .middle {
        width: 100%;
        align-items: center;
        justify-content: center;
      }
    #track_image{
        display: none;
    }
}



@media only screen and (max-width:1024px){
    .home, .slider-btn{
        position: relative;
        top: 170px;
    }
    .slider-btn{
        top: 0px;
    }
}

@media only screen and (max-width:912px){
    .home img{
        width: 150px;
    }
    .home h1{
        font-size: 50px;
    }
    .home, .slider-btn{
        position: relative;
        top: -300px;
    }
    .slider-btn{
        top: 50px;
    }
    .slider-btn .btn{
        font-size: 30px;
        border-radius: 10px;
    }
}

@media only screen and (max-width:900px){
    
    .home h1{
        font-size: 50px;
    }
    .home, .slider-btn{
        position: relative;
        top: 120px;
    }
    .slider-btn{
        top: 50px;
    }
    .slider-btn .btn{
        font-size: 30px;
        border-radius: 10px;
    }
}

@media only screen and (max-width:820px){
    .home img{
        width: 150px;
    }
    .home, .slider-btn{
        position: relative;
        top: -200px;
    }
    .slider-btn{
        top: -10px;
    }
    .slider-btn .btn{
        font-size: 25px;
        border-radius: 10px;
    }
}

@media only screen and (max-width:771px){
    .home, .slider-btn{
        position: relative;
        top: 100px;
    }
    .home h1{
        font-size: 30px;
    }
    .slider-btn{
        top: 10px;
    }
    .slider-btn .btn{
        font-size: 25px;
        border-radius: 10px;
    }
}

@media only screen and (max-width:768px){
    .home img{
        width: 150px;
    }
    .home, .slider-btn{
        position: relative;
        top: -50px;
    }
    .slider-btn{
        top: -10px;
    }
}
@media only screen and (max-width:680px){
    #logo{
        text-align: left;
    }
    .middle{
        position: absolute;
        right: 0px;
        top: 10px;
    }
    .mid{
        display: none;
    }
    .left #volume_show{
        display: none;
    }
}

@media only screen and (max-width:540px){
    .home img{
        width: 100px;
    }
    .home h1{
        font-size: 25px;
    }
    .home, .slider-btn{
        position: relative;
        top: 50px;
    }
    .slider-btn{
        top: 0px;
    }
    .slider-btn .btn{
        font-size: 18px;
    }
}

@media only screen and (max-width:414px){
    .home img{
        width: 100px;
    }
    .home, .slider-btn{
        position: relative;
        top: 50px;
    }
    .duration{
        margin-top: 30px;
    }
    .player{
        margin-bottom: 50px;
    }
    .volume{
        margin-top: 70px;
        margin-left: 40px;
    }
}

@media only screen and (max-width:375px){
    .home img{
        width: 100px;
    }
    .home, .slider-btn{
        position: relative;
        top: 90px;
    }
    .slider-btn{
        top: 0px;
    }
   
    .player{
        padding-bottom: 50px;
    }
    .volume{
        margin-top: 70px;
        margin-left: 40px;
    }
}

@media only screen and (max-width:280px){
    .home h1{
        font-size: 20px;
    }
    .home img{
        width: 100px;
    }
    .slider-btn .btn{
        font-size: 13px;
    }
    .home, .slider-btn{
        position: relative;
        top: 90px;
    }
    .slider-btn{
        top: 0;
    }
}

.carousel-item::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    background: #000;
    opacity: 0.7;
}

.about{
    padding-top: 120px;
}
.underline{
    width: 100px;
    margin: auto;
    margin-top: 18px;
    border: 2px solid #05ffb4;
    border-radius: 20px;
    box-shadow: 2px 3px 4px black;   
}
.about .para1{
    line-height: 35px;
    text-align: justify;
}
.copy{
    padding: 20px 0 200px 0;

}


/* Podcast CSS codes */
.podcast{
    padding: 10px 10px;
    width: 100%;
    height: 20%;
    background-color: grey;
    color: white;
    /* background: linear-gradient(to right, #e76bf8e9, #52a6f5); */
}
.show_song_no p{
    display: inline-block;
}

/* both range slider part */
input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    width: 90%;
    outline: none;
    height: 2px;
    margin: 0 15px;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #52a6f5;
    border-radius: 50%;
    cursor: pointer;
  }
  .right input[type="range"] {
    width: 60%;
  }

  .left .volume p {
    font-size: 15px;
    margin: auto;
    margin-top: 35px;
    background-color: rgb(0, 90, 192);
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: pink;
    border-radius: 50%;
  }
  .left .volume i {
    cursor: pointer;
    padding: 8px 12px;
    background: rgba(245, 245, 245, 0.1);
  }

  .left .volume i:hover {
    background: rgba(245, 245, 245, 0.1);
  }
/* right part */
.right .middle {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .right .middle button {
    border: none;
    height:40px;
    width:40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.1);
    margin: 3px;
    margin-top: 30px;
}
.right #auto {
    font-size: 15px;
    cursor: pointer;
    margin-top: 30px;
    border: none;
    padding: 10px 14px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: 10px;
}

#play {
    background: #d50af9;
}
.right button:hover {
    background: #d50af9;
}
.right i:before {
    color: #fff;
    font-size: 15px;
}
