.html{
    display: flex;
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
}
canvas{
    position: fixed;
    width: 100%;
}
.canvas{
    opacity: 1;
}
.canvas1{
    filter: brightness(0.7) contrast(100) blur(100px) contrast(1.3);
}
h1{
    text-align: center;
    font-size: 70px;
    border-image: linear-gradient(130deg, red, green, blue, lime, purple, orange);
    animation: gradient 2s linear infinite;
    border-image-slice: 1;
    padding-top: 0px;
    margin: auto;
    position: relative;
    top: 100px;
    text-transform: uppercase;
    font-family: 'Ruslan Display', cursive;
    background: linear-gradient(to right, red, green, blue, lime, purple,orange);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}
img{
    position: relative;
    top: 200px;
}
.grd{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    align-items: center;
    margin: 0 350px;

}
@keyframes gradient{
    50%{
        filter: hue-rotate(360deg);
    }
}