*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgb(187, 0, 0) 50%, #333 50%);
}
.container{
    height: 450px;
    width: 330px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    padding: 10px;
    overflow-y: auto;
}
#input{
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #666;
    color: #fff;
    padding: 0px 10px;
    margin: 15px 0;
}
#input::placeholder{
    color: #bbb;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li{
    background-color: #eee;
    color: #333;
    height: 40px;
    border-radius: 50px;
    margin: 10px 0;
    padding: 10px;
}
ul .fa-check, .fa-trash{
    position: absolute;
    cursor: pointer;
}
ul .fa-check{
    right: 850px;
    color: green;
}
ul .fa-trash{
    right: 830px;
    color: #ff0033;
}
ul .checked{
    background: lightgreen;
    text-decoration: line-through;
    transition: .2s;
}
