

.brand-name{
    position: relative;
    right: 25px;
    font-family: lobster;
}
.nav-item{
    margin-right: 15px;
}
.nav-link{
    text-transform: uppercase;
}
#home{
    margin-top: 50px;
    background-color: rgb(213, 213, 213);
    height: auto;
    padding: 50px;
}

.banner_text{
    margin-top: 130px;
    margin-left: 50px;
    margin-right: 50px;
}
.banner_text h1{
    font-family: lobster;
    margin-bottom: 20px;
}
.banner_text p{
    text-align: justify;
}

.shop{
    border: 1px solid darkcyan;
    margin-top: 10px;
}
.shop a{
    text-decoration: none;
    color: darkcyan;
}
.underline{
    width: 100px;
    border: 3px solid darkblue;
    border-radius: 30px;
}
.cart{
    background-color: rgb(234, 234, 234);
    border: 1px solid darkcyan;
    border-radius: 20px;
    margin-bottom: 50px;
}
.discount{
    color: red;
    text-decoration: line-through;
}
.p_img{
    border-radius: 10px;
    box-shadow: 2px 3px 4px grey;
}
.about{
    background-image: url(../images/rose.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: auto;
    margin-bottom: 50px;
    text-align: center;
}
.about .row{
    padding-top:75px;
    padding-bottom: 75px;
}
.about .row .col-xl p{
    text-transform: uppercase;
}
.about hr{
    width: 200px;
    margin: auto;
    border: 3px solid #fff;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.p_head{
    margin-left: 10px;
    font-size: 25px;
    
}
.package{
    margin-bottom: 50px;
}
.service{
    background-color: rgb(214, 212, 212);
    padding: 10px;

}
.service .row .col-xl{
    padding: 20px;
}
.service .row .col-xl i{
    margin-right: 20px;
}
footer .grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-bottom:50px ;
}

footer .grid .link a{
    text-decoration: none;
    color: gray;
}
footer{
    padding: 50px;
    background-color: black;
}
.social a{
    text-decoration: none;
    color: gray;
    font-size: 30px;
    margin: 30px;
}