@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
#preloader{
    background: #121212 url(../img/sand.gif) no-repeat center center;
    background-size: 30%;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;

}
.preloader{
    visibility: hidden;
    display: none;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
.navbar{
    background-color: black;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.navbar:hover{
    opacity: 0.8;
}
.navbar-brand{
    font-weight: 600;
    color: red;
}
.navbar-brand:hover{
    letter-spacing: 5px;
    transition-duration: .6s;
}
.nav-item{
    line-height: 50px;
}
.link{
    margin-right: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.link:hover{
    background-color: white;
    padding: 5px 10px;
    transition: .6s;
    border-radius: 10px;
    color: #010718;
}

/* Home Start */
#home{
    background: url(../img/cover.png) no-repeat center center;
    height: 100vh;
    width: 100%;
    color: black;
}
.pro{
    margin: auto;
    padding: 80px 0px 40px 0px;
}
.img{
    text-align: center;
    padding: 20px 0px 30px 0px;
    animation: leftin 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes leftin{
    0%{
        transform: translateX(-100px);
        visibility: visible;
    }
    100%{
        transform:translateX(0);
        visibility: visible;
    }
}

.img img{
    border-radius: 50%;

}
.txt{
    padding: 70px 0px;
    animation: rightin 1s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes rightin{
    0%{
        transform: translateX(100px);
        visibility: visible;
    }
    100%{
        transform:translateX(0);
        visibility: visible;
    }
}
.name{
    font-size: 35px;
    color: white;
}
.aniText h1{
    font-weight: 600;
    color: white;
}

.fa-facebook{
    font-size: 35px;
    position: relative;
    top: 8px;
    left: 10px;
    color: #ffffff;
}
.fa-facebook:hover{
    transform: scale(1.2);
    transition-duration: .6s;
}
/* Home End */

/* About Start */
.header{
    font-weight: 600;
}
.header:hover{
    letter-spacing: 5px;
    transition-duration: .6s;
}
.underline{
    width: 100px;
    margin: auto;
    border: 3px solid rgb(71, 71, 71);
    border-radius: 3px;
}
.profile{
    text-align: justify;
    font-weight: 900;
    line-height: 40px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 50px;
}
.address{
    font-weight: 600;
}
.about{
    margin: auto;  
}
.graduate{
    margin-top: 10px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 35px;
}

.grad-img{
    overflow: hidden;
    border-radius: 30px;
}
.image{
    border-radius: 30px;
}
.image:hover{
    transform: scale(1.1);
    transition-duration: .6s;
}

/* About End */


/* Contact Start */
#contact{
    background-color: #202020;
    color: white;
    padding: 30px 0px;
}
.contact{
    margin: auto;
    padding-top: 30px;
}
.input{
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-top: 50px;
    background-color: #202020;
    color: white;
}
.input:focus{
    background-color: #202020;
    color: white;
    outline: none;
}
.btn1{
    background-color: white;
    border-color: black;
    color: black;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    font-weight: 600;
}
.btn1:hover{
    color: white;
    background-color: black;
    transition-duration: .6s;
}
.underline2{
    width: 100px;
    margin: auto;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 3px;
}
.underline1{
    width: 100px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 3px;
    margin-bottom: 30px;
}
.social{
    text-decoration: none;
}
.social span{
    margin-left: 20px;
    font-size: 20px;
}
.social_contact{
    margin-left: 30%;
}
.facebook{
    margin-top: 40px;
}
/* Contact End */

/* footer Start */
.footer{
    height: 70px;
}
.footer p{
    font-size: 18px;
    line-height: 70px;
    font-weight: 600;
}
/* footer End */
